<div class="contactus">
    <h1>Appointment Form</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="emailId">Email Id</label>
            <input type="text" class="form-control" id="emailId">
        </div>
        <div class="form-group">
            <label for="phoneNo">Phone No</label>
            <input type="text" class="form-control" id="phoneNo">
        </div>
        <div class="form-group">
            <label for="query">Enter your query</label>
            <input type="text" class="form-control" id="query">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>