<div>
    <p>About Us</p>
    <img class="homeLogo" src="assets/img/coverpic.jpg">
    <p class="HomeDetails">We are one of the Best Wedding Photographers in Mumbai!
        Events such as weddings are about traditions and rituals, about momentous moments, about journeys of discovery and
        about new relationships. To cement all of that together you need something strong, something beautiful and something
        everlasting. That’s what True Shades Photography creates for you-beautiful memories that outlive time and space with
        our specialized Candid Photography
        In Mumbai, things are always happening and competition is cut-throat, but amidst it all we are there for you,
        providing artistically and stylistically, the joyous moments of a lifetime. Love may be in the air, but we capture
        that too by not missing out on those hidden glances, the subtle displays of affection, the latent nuances that
        emerge stealthily—oblivious to all eyes but that of our camera!
        A peep into our work on Candid Photography by our Candid Photographers will show you how stimulating we can be and
        why we chose True Shades Photography as our signature. We understand the meaning of business success and know what
        it takes to get there. For all practical purposes we may be photographers, but we believe that it’s an art that goes
        beyond the mere technicalities. It’s a passion for us and each photograph is a commitment towards excellence.
        Reviews from our clients further proves our claim of being One Of The Best Wedding Photographers in Mumbai
        Dynamism, diligence and perfection, you may say, are our middle names—so if you do need to pep up your special day,
        do reach out to us. If you’re in Mumbai, we’ll make your special day extraordinary for you—through the color and
        romance of our candid photography services. Post processing also plays a virtual part in making us One Of The Best
        Wedding Photographers in Mumbai</p>
</div>

/*commetn added*/
/* Another comment added*/
/* THird Commment Aded */
