/* .scroll {
  overflow: scroll;
} */

p {
    color: white;
  }


  .column {
    /* float: left; */
    width: 15%;
    padding: 10px;
   
    border: 10px;
    border-color: green;
    display: inline-block;
}
.column2 {
  width: 80%;
  padding: 10px;
  border: 10px;
  border-color: yellow;
  display: inline-block;
}


  .rightRect{
    background-color: white;
    height: 580px;
    width: 1000px;
    position: absolute;
    right: 90px;
    bottom: 70px;
    border: 3px solid gray;
    
}