.homeLogo {
    height: 300px;
    width: 300px;
    padding-left: 20px;
    float: left;
}

p {
    color: white;
}

p.HomeDetails {
    color: white;
    padding-left: 50px;
}

/* .rightRect{
    background-color: white;
    position: absolute;
    border: 1px solid gray;
} */